@model FitTrackerApp.Domain.DomainModels.ProgressEntry

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProgressEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightKg" class="control-label"></label>
                <input asp-for="WeightKg" class="form-control" />
                <span asp-validation-for="WeightKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodyFatPercentage" class="control-label"></label>
                <input asp-for="BodyFatPercentage" class="form-control" />
                <span asp-validation-for="BodyFatPercentage" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
